/**********html**********/
:root{
    --blue: #a4dde7;
    --dark-blue:#0b60b0;
}
html{
    margin: 0;
    padding: 0%;
    scroll-behavior: smooth;
    width: 100%;
}
/**********nav**********/
#menu{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
    justify-content: start;
}
#menu a{
    text-decoration: none;
    color: black;
    font-family: "main";
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}
#menu a:hover{
    transition: 0.5ms;
    color: var(--dark-blue);
}
#menu-toggle{
    display: none;
    background-color: var(--blue);
    border: none;
    
}



#menu.active{
    display: flex;
    }

nav{
    display: flex;
  align-items: end;
  background-color: var(--blue);
 text-align: right;
 width: 100%;
}
nav a{
    margin: 20px;
    font-size: larger;
}
nav a:hover{
    transition: 0.5ms;
    color: var(--blue);
}
/**********header**********/
.hero{
    background-image: url(../img/hero.png);
    height: 30rem;
    background-position: center;
    background-repeat: none;
}






/**********about**********/
.about-txt{
    display: grid;
    grid-template-rows: 1fr 1fr;
   margin-left: 25px;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
}
.tove-img{
    max-width: 100%;
}
.about{
    display: flex;
    flex-direction: row;
    padding: 1.875rem;
    align-items: center;
}
.about-txt h2{
    font-size: xxx-large;
    text-align: left;
    padding: 0;
}
.about-txt p{
    font-size: medium;
    padding: 0;
}

.moomin-books-head{
    background-color: var(--blue);
    color: var(--dark-blue);
    padding: 1rem;
    text-align: center;
    font-size: x-large;
}
/**********books**********/
 .entry-div{
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.img-div{
    height: 30rem;
    padding: 1.25rem;
}
.img-div img{
    height: 100%;
    justify-content: left;
    padding: .125rem;
}
.place-for-content{
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
}
.entry-div{
    height: 20rem;
    justify-content: center;
}
.entry-div a{
    text-decoration: none;
    color: white;
    background-color: var(--dark-blue);
    padding: .625rem;
    border-radius: .625rem;
    text-align: center;
}
.entry-div a:hover{
    background-color: var(--blue);
    transition: 0.5ms;
    color: black;
}

/**********footer**********/
.footer{
    background-color: var(--blue);
    padding: 0.25rem;
}
.footer p{
    text-align: left;
    margin-left: 2.125rem;
    font-size: smaller;
}

/**********details page**********/
h1{
    background-color: var(--blue);
    color: var(--dark-blue);
    padding: 1.5rem;
    text-align: center;
    font-size: xx-large;
}
.entry-div2{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-align: center;
    align-items: center;
    
}

.img-div2{
    height: 40rem;
    padding: 0;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding: .625rem;
    width: 100%;
    display: block;
    text-align: center;
    
}
.img-div2 img{
    height: 100%;
    justify-content: center;
    
}
#product{
    padding: 1.25rem;
    display: grid;
    grid-template-rows: 1fr;
    padding: 5rem;
}
.entry-div2 a{
    text-decoration: none;
    color: white;
    background-color: var(--dark-blue);
    padding: .625rem;
    border-radius: .625rem;
    text-align: center;
}
.entry-div2 a:hover{
    background-color: var(--blue);
    transition: 0.5ms;
    color: black;
}
.gallery{
 display: flex;
 flex-direction: row;
}
.gallery img{
    width: 60%;
}









 

/**********mobile**********/
@media  screen and (max-width: 43.75rem) {
    /**********nav**********/
#menu-toggle{
    display: block;
    position: fixed;
    z-index: 100000;
    padding: 0.60rem;
    border-radius: .25rem;
}
#menu{
    display: none; 
    position: fixed;
    z-index: 100000;
    flex-direction: column;
    background-color: var(--blue);
    border-radius: .625rem;
    justify-content: start;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: transparent;
    
}
nav a{
    text-align: center;
    align-items: center;
    justify-content: center;
}
/**********header**********/
.hero{
    display: none;
}
/**********about**********/
.about{
    display: grid;
    grid-template-rows: 1fr 1fr;
     height: fit-content;
     margin-top: 1.0625rem;
     padding: 0;
     justify-content: center;
     align-items: center;
}
.about-txt{
   display: block;
   margin: 0;
   padding: 0;
   justify-content: center;
}
.tove-img img{
    max-width: 100%;
}
.about-txt h2{
    font-size: larger;
    text-align: center;
    margin: 0;
    padding: 0;
   
}
.about-txt p{
    text-align: center;
    margin: 0;
    padding: 0;
}
.moomin-books-head{
    font-size: large;
    border-radius: .625rem;
}
/**********books**********/
 .place-for-content{
    display: grid;
    grid-template-columns: 1fr;
    height: 200vh;
    padding: 0;
    
}
.entry-div{
    flex-direction: column;
    height: 50rem;
    align-items: start;
    width: 100%;
    padding-left: .3125rem;
    padding-right: .3125rem;
}
.img-div{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: .825rem;
}
.img-div img{
    width: 100%;
}
.entry-div{
    height: 50vh;
    margin-bottom: .75rem;
    align-items: center;
    text-align: center;
}
.entry-div p{
    font-size: smaller;
    padding: 0%;
    margin: 0;
}
.entry-div h2{
    margin-top: 4%;
    padding: 0;
}
.entry-div a{
    margin-top: 6%;
    padding: .825rem;
}
/**********details page**********/
h1{
    font-size: large;
    border-radius: .625rem;
    margin-top: 0;
}
.entry-div2{
    
    margin-bottom: .1rem;
    align-items: center;
    text-align: center;
    padding: 0;
}
.gallery{
    flex-direction: column;
  
    align-items: center;
    margin-bottom: 0rem;
    padding: .625rem;
}
.img-div2{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: .5rem;
}
.img-div2 img{
    width: 100%;
}
#product{
    display: grid;
    grid-template-columns: 1fr;
    height: 250vh;
    padding: 0;
    margin: 0;
}





/**********footer**********/
.footer{
    display: none;
} 
}